.fruits{
    border: 2px solid darkslateblue;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: #e30a62;
}

.cars{
    border: 2px solid red;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: orangered;
}

.Fruits{
    border: 2px solid black;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: green;
}

#school{
    border: 2px solid black;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: #007180;
}